<h1>
	Startup Namer
</h1>

<h2>
	Create a new startup name and check out the ones already made
</h2>

<%= link_to 'Create new name', new_startup_name_path %>

<% @startup_names.each do |startup_name| %>
	<div id="startup_list">
		<p>
			<%= link_to startup_name.content, startup_name_path(startup_name) %>
		</p>
	</div>
<% end %>

