<div>
  <h1>
    <%= @startup_name.content %>
  </h1>

    <%= link_to 'Edit/tweak this startup name to your liking.', edit_startup_name_path %>

  <%= link_to 'Back to main page', root_path %>

</div>

link to main page
css?
make dropdown menu to create startup

link to edit